body
{
	display: flex;
	flex-direction: column;
    align-items: center;
}

main
{
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 5rem;
}

#to-do, #done
{
	width: 50%;
    margin: 1rem;
    text-align: center;
}

#todo-list, #done-list
{
	display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: yellow;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

#save-btn, #done-btn, #remove-btn, #todo-btn
{
	display: none;
}


/*.edit   THIS RULE APPLIED TO P's PRIOR DIV INCORPORATION
{
	display: flex;
	flex-direction: row-reverse;
}*/

div 
{
    display: flex;
    flex-direction: row-reverse;
}

button
{
	border: none;
	padding: 10px 20px;
	margin: 0.5rem;
}

#save-btn, #todo-btn, #done-btn
{
	background-color: lightgreen;
}

#remove-btn
{
	background-color: rgb(218, 140, 159);
	color: white;
}

